<div>
  <h3><%= @restaurant.name %></h3>
  <p>We specialize in <%= @restaurant.category %> fine dining.</p>
  <p>You won't regret eating here.</p>
  <p>Book a table now @ <%= @restaurant.phone_number %>.</p>
  <p><%= "We're located @ #{@restaurant.address}" %>.</p>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
  <br>
</div>
